body,
ul,
li,
h1,
h2,
a {
  margin: 0;
  padding: 0;
  font-family: arial;
  color: white;
}

body {
  background: rgb(39, 39, 39);
  text-align: center;
}

header {
  padding: 20px;
}

header h1 {
  color: whitesmoke;
}

.social-icons {
  text-align: center;

  white-space: nowrap;
}

.social-icons li {
  display: inline-block;
  margin: 10px;
}

.hero {
    margin-top: 20px;
}

.hero article {
  display: inline-block;
  text-align: justify;
  font-size: 1.2rem;
  margin: 20px;
}

main {
    padding: 10px;
}

.hero img {
  border-radius: 8px;
  width: 100px;
  margin-bottom: 20px;
}

nav {
  margin: 0 0 20px;
}

nav ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}

nav li {
  width: 25%;
  display: inline-block;
}

/* responsive stylles */

@media screen and (max-width: 960px) {
  .hero img {
    width: 200px;
  }
}

@media screen and (max-width: 700px) {
  .hero img {
    width: 150px;
  }
}
